@{
    ViewData["Title"] = "dotDis";
    User activeUser = (User)ViewData["active-user"];
}
@section head
{
    <script src="js/class.js"></script>
    <script src="js/addRoom.js"></script>
    <script src="js/addFriend.js"></script>
    <script src="js/webSocket.js"></script>
    <link rel="stylesheet" href="css/variables.css" />
    <link rel="stylesheet" href="css/stylesheet.css" />
    <link rel="stylesheet" href="css/dialog.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/6e774c561d.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">
}
<script type="text/javascript">window.onload = init(@activeUser.ID)</script>
<nav>
    <div id="panel-detail-user" class="group-panel">
        <div id="panel-friend" class="panel">
            <div class="group">Friends <div id="bt-add-room" class="bt-add-entry clickable" onclick="doAddFriend()">+</div></div>
            <div id="panel-friend-list">
                @foreach (Models.User user in (List<Models.User>)ViewData["list-friend"])
                {  
                    <div class="entry clickable" id="uid-@user.ID" onclick="setChatUser(@user.ID)">
                        <img class="avatar" src="img/avatar.png"></img>
                        <div class="name" id="uid-@user.ID-name">@user.Name</div>
                        <div id="status-user-@user.ID" class="status-dot"></div>
                    </div>
                }
            </div>
        </div>

        <div id="panel-room" class="panel">
            <div class="group">Rooms <div id="bt-add-room" class="bt-add-entry clickable" onclick="doAddRoom()">+</div></div>
            <div>
                @foreach (Room room in (List<Room>)ViewData["list-room"])
                {  
                    <div class="entry clickable" id="rid-@room.ID" onclick="setChatRoom(@room.ID)">
                        <img class="avatar" src="img/avatar.png"></img>
                        <div class="name" id="rid-@room.ID-name">@room.Name</div>
                    </div>
                }
            </div>
        </div>
    </div>
    
    <div id="panel-detail-room" class="group-panel">
        <div id="nav-room">
            <div id="bt-panel-previous" class="clickable" onclick="hideChatRoom()"><i class="fas fa-chevron-left"></i></div>
            <div id="active-room-name">NAME</div>
            <div id="bt-room-setting" class="clickable"><i class="fas fa-cog"></i></div>
        </div>
        <div id="panel-channel-text" class="panel">
            <div class="group">Conversations<div id="bt-add-text" class="bt-add-entry clickable">+</div></div>
            <div id="panel-channel-text-list">

            </div>
        </div>
        <div id="panel-channel-voice" class="panel">
            <div class="group">Voice chat<div id="bt-add-voice" class="bt-add-entry clickable">+</div></div>
            <div id="panel-channel-voice-list">

            </div>
        </div>
    </div>



</nav>
<main>
    <div id="topbar">
        <div id="chat-info">
            <span id="chat-name"></span>
        </div>
        <div id="personal">
            <img class="avatar" src="img/avatar.png"/>
            <span class="name">@activeUser.Name</span>
            <a href="/Chat/Logout">Logout</a>
            <button class="clickable" id="button-user-opt"></button>
        </div>
    </div>
    <div id="pane-chat" class="pane-right">
        <div id="pane-conversation">
            <div id="pane-mesg">
                
            </div>
            <div id="pane-input">
                <textarea id="field-mesg"></textarea>
                <button id="button-send-mesg" class="clickable" onclick="sendMesg()">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </div>
        <div id="pane-status">
            <div id="panel-friend" class="panel">
            <div class="group">Members</div>
            <div id="panel-room-member-list">
                    
            </div>
        </div>
    </div>
</main>
<div id="placeholder">

</div>
